@define(slots=False, eq=False, repr=False)
class {{ class_name }}(object):
    """ Docstring for {{ class_name }}. 
    """
{%for var_tuple in fields_tuples_list|default('[]')%}
    {{ var_tuple[0] }}: {{ var_tuple[1] }} = field(default={{ var_tuple[2] }})
{%endfor%}

