#!/bin/bash

{# Future, monitor signal handlers
function signal_handler {
  # Save program state and exit
  (...)
  exit
}

trap signal_handler TERM
(...)
#}

# Set job name and log file
job_name="job_{{ curr_session_context }}"

# Change to the specified directory
cd '{{ curr_batch_script_rundir }}'

# Set environment variables
export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring

# Activate the virtual environment
sh '/home/halechr/repos/Spike3D/.UV_venv/bin/activate'

# Run the Python script
python '{{ python_script_path }}' || exit $?

# Deactivate the virtual environment when done (optional here but good practice)
{# deactivate #}
