#!/bin/bash
#SBATCH --job-name=job_{{ curr_session_context }}{% if job_suffix %}_{{ job_suffix }}{% endif %}
#SBATCH --output=slurm_%x-%j.out
#SBATCH --chdir='{{ curr_batch_script_rundir }}'
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=1
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=1
#SBATCH --mem=48000m
#SBATCH --time=12:00:00
#SBATCH --account=kdiba1
#SBATCH --partition=standard

export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
module load python/3.9.12

{# source '/home/halechr/repos/Spike3D/.venv_green/bin/activate' #}
source '/home/halechr/repos/Spike3D/.venv/bin/activate'

# Set Matplotlib backend to 'Agg' to prevent GUI issues
export MPLBACKEND=Agg
export PYVISTA_OFF_SCREEN=true
export QT_QPA_PLATFORM=offscreen

{% if should_use_virtual_framebuffer %}
# Load Xvfb module if available
{# module load Xvfb #}
# Start Xvfb
export DISPLAY=:99
Xvfb :99 -screen 0 1024x768x16 &
# Store the PID of Xvfb to kill it later
XVFB_PID=$!
# Optional: Wait a bit for Xvfb to start
sleep 2
{% endif %}

{# Redirect all output to a single file
exec > >(tee -a slurm_${SLURM_JOB_NAME}-${SLURM_JOB_ID}.log) 2>&1
#}

# Run the Python script
python '{{ python_script_path }}'

# Capture the exit status of the Python script
exit_code=$?

{# # Deactivate the virtual environment when done (optional here but good practice)
deactivate #}

{% if should_use_virtual_framebuffer %}
# Kill Xvfb
kill $XVFB_PID
{% endif %}

# Exit with the captured exit code
exit $exit_code

