#!/bin/bash
#SBATCH --job-name=job_{{ curr_session_context }}
#SBATCH --output=slurm_%x-%j.out
#SBATCH --chdir='{{ curr_batch_script_rundir }}'
#SBATCH --ntasks=1
#SBATCH --cpus-per-task=1
#SBATCH --nodes=1
#SBATCH --ntasks-per-node=1
#SBATCH --mem=42000m
#SBATCH --time=12:00:00
#SBATCH --account=kdiba1
#SBATCH --partition=standard

export PYTHON_KEYRING_BACKEND=keyring.backends.null.Keyring
module load python/3.9.12
source '/home/halechr/repos/Spike3D/.venv/bin/activate'

{# Redirect all output to a single file
exec > >(tee -a slurm_%x-%j.log) 2>&1
#}

# Run the Python script
python '{{ python_script_path }}'

# Deactivate the virtual environment when done (optional here but good practice)
deactivate



