{
	"folders": [
		{% for folder in folders %}
		{
			"path": "{{ folder.path }}",
			"name": "{{ folder.name }}"
		}{% if not loop.last %},{% endif %}
		{% endfor %}
	],
	"settings": {
		"python.defaultInterpreterPath": "{{ defaultInterpreterPath }}",
		"python.testing.autoTestDiscoverOnSaveEnabled": false,
		"python.terminal.executeInFileDir": true,
		"python.terminal.focusAfterLaunch": true,
		"python.terminal.launchArgs": [
		],
		"powershell.cwd": "gen_scripts",
		"files.exclude": {
			"**/EXTERNAL/": true,
			"**/OLD/": true,
			"**/output/": true,
			"**/*.out": true,
			"**/*.err": true,
			"**/*.log": true,
			"**/*.ico": true,
			{% if is_platform_windows %}
			"**/*.sh": true,
			{% else %}
			"**/*.ps1": true,
			"**/*.cmd": true,
			{% endif %}
		},
		"workbench.colorCustomizations": {
			"editor.lineHighlightBackground": "#4b10cf2d",
			"editor.lineHighlightBorder": "#b09fd11f",
			"activityBar.background": "#37234b",
			"titleBar.activeBackground": "#8453c7",
			"titleBar.activeForeground": "#000000",
			"scrollbarSlider.background": "#a210ff57",
			"scrollbarSlider.hoverBackground": "#8800ff82",
			"scrollbarSlider.activeBackground": "#8100ffdf",
			"activityBar.inactiveForeground": "#ffffff3c",
			"activityBar.foreground": "#ffffff",
			"notebook.outputContainerBackgroundColor": "#395a3e50",
			"notebook.outputContainerBorderColor": "#a210ff",
			"notebook.focusedCellBorder": "#9900ffda",
			"notebook.focusedEditorBorder": "#9900ff",
			"notebook.inactiveFocusedCellBorder": "#9900ff63",
			// "notebook.editorBackground": "#9900ff2c",
			
			"titleBar.inactiveBackground": "#8453c78e",
			"tab.activeBorder": "#2F3C2E",
			"statusBar.background": "#3c2e3c",
			"statusBar.foreground": "#ffffff",

			// "editorPane.background": "#1f1f1f",
			// "editorRuler.foreground": "#5a5a5a",

			"window.activeBorder": "#9900ff",
			"window.inactiveBorder": "#9900ff18",
		
			"sideBar.dropBackground": "#53595d80",
			"sideBySideEditor.horizontalBorder": "#ffffff17",
			"sideBySideEditor.verticalBorder": "#ffffff17",
			
			"profileBadge.background": "#4d4d4d",
			"profileBadge.foreground": "#9900ff",

			"editorGroup.border": "#9900ff17",
			"editorGroupHeader.tabsBackground": "#9900ff2d",
			"editorGroupHeader.tabsBorder": "#36003f",

			"tab.activeBackground": "#370041",
			// "tab.activeBorder": "#2F3C2E",
			"tab.activeBorderTop": "#9900ff",
			"tab.activeForeground": "#ffffff",
			"tab.border": "#4a006b",
			"tab.hoverBackground": "#2e0030",
			"tab.inactiveBackground": "#181818",
			"tab.inactiveForeground": "#9d9d9d",
			"tab.lastPinnedBorder": "#cccccc33",
			"tab.unfocusedActiveBorder": "#1f1f1f",
			"tab.unfocusedActiveBorderTop": "#2b2b2b",
			"tab.unfocusedHoverBackground": "#1f1f1f",
			// extras
			"tab.activeModifiedBorder": "#9933cc",
			"tab.inactiveModifiedBorder": "#9933cc80",
			"tab.unfocusedActiveBackground": "#1f1f1f",
			"tab.unfocusedActiveForeground": "#ffffff80",
			"tab.unfocusedActiveModifiedBorder": "#9933cc80",
			"tab.unfocusedInactiveBackground": "#181818",
			"tab.unfocusedInactiveForeground": "#9d9d9d80",
			"tab.unfocusedInactiveModifiedBorder": "#3399cc40",
			//"tab.hoverBorder": null,
			//"tab.hoverForeground": null,
			//"tab.unfocusedHoverBorder": null,
			//"tab.unfocusedHoverForeground": null,

			"editorBracketHighlight.foreground1": "#5caeef",
			"editorBracketHighlight.foreground2": "#dfb976",
			"editorBracketHighlight.foreground3": "#c172d9",
			"editorBracketHighlight.foreground4": "#4fb1bc",
			"editorBracketHighlight.foreground5": "#97c26c",
			"editorBracketHighlight.foreground6": "#abb2c0",
			"editorBracketHighlight.unexpectedBracket.foreground": "#db6165",
			// active indent guides:
			"editorIndentGuide.activeBackground1": "#9900ff86",
			"editorIndentGuide.activeBackground2": "#ff00e586",
			"editorIndentGuide.activeBackground3": "#f475ff86",
			"editorIndentGuide.activeBackground4": "#c2c6ff86",
			"editorIndentGuide.activeBackground5": "#7a33ff86",
			"editorIndentGuide.activeBackground6": "#ffebfd86"
		},
		{% if is_platform_windows %}
		{% raw %}
		"actionButtons": {
			"commands": [
				{
					"cwd": "${workspaceFolder}",
					"name": "Run Powershell Batch Script",
					"color": "#33FF33",
					"singleInstance": true,
					"command": "powershell.exe -File run_scripts.ps1", 
					"terminalName": "Powershell Batch Run Terminal",
					"tooltip": "Runs powershell script",
				}
			],
			"defaultColor": "white",
			"reloadButton": "reload",
			"loadNpmCommands": false
		},
		{% endraw %}
		{% endif %}
	},
	"extensions": {
		"recommendations": [
			"jkearins.action-buttons-ext"
		]
	},
}