{
	"folders": [
		{% for folder in folders %}
		{
			"path": "{{ folder.path }}",
			"name": "{{ folder.name }}"
		}{% if not loop.last %},{% endif %}
		{% endfor %}
	],
	"settings": {
		"files.exclude": {
			"**/OLD/": true,
			"**/*.ico": true,
			"**/*.sh": true,
			"**/*.ps1": true,
			"**/*.cmd": true,
		},
		"actionButtons": {
			"commands": [
			],
			"defaultColor": "white",
			"reloadButton": "reload",
			"loadNpmCommands": false
		},
	},
	"extensions": {
		"recommendations": [
			"jkearins.action-buttons-ext"
		]
	},
}